accelerate
bitsandbytes
bidict
captum
datasets
datefinder
emoji
ftfy
matplotlib
mlflow
pandas
peft
roc-utils
scikit-learn
scipy==1.11.4
seaborn
sentence-transformers
tqdm
tensorboardX
transformers~=4.47.1